* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Letra1';
    src: url(../fuentes/Gajraj_One/GajrajOne-Regular.ttf);
}

body {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Letra1';
}

/*CAPÇALERA*/
header > .menu {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40px;
    color: black;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(145, 255, 0));
}

header > .menu > nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

header > .menu > nav li {
    margin: 0 20px;
}

header > .menu > nav a {
    text-decoration: none;
    color: blue;
}

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}

/*MAIN*/
main {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    border-right: 1px solid black;
}

main > aside {
    grid-column: 1 / 2;
    border: 1px solid black;
}
main > aside li {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

main > section {
    grid-column: 2 / 3;
}

/*ANIMACIÓ 1*/
@keyframes animacio1 {
    from {background-color: red;}
    to {background-color: yellow;}
}
main > section > div:nth-child(3) {
    height: 150px;
    width: 150px;
    background: red;

    /*TRANSICIÓ*/
    transition: width 3s, height 4s, transform 2s; 
    animation-name: animacio1;
    animation-duration: 4s;
    margin-bottom: 20px;
}
main > section > div:nth-child(3):hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}

/*ANIMACIÓ 2*/
@keyframes animacio2 {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(-1);
    }
    100% {
      transform: scaleX(1);
    }
}
main > section > article.animacion2 > img {
    width: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: animacio2 5s linear infinite;
}

/*ANIMACIÓ 3*/
@keyframes animacio3 {
    0%   {background-color:red; left:0px; top:0px;}
    10%  {background-color:yellow; left:100px; top:0px;}
    20%  {background-color:blue; left:200px; top:0px;}
    30%  {background-color:green; left:300px; top:0px;}
    40% {background-color:red; left:400px; top:0px;}
    50%  {background-color:yellow; left:500px; top:0px;}
    60%  {background-color:blue; left:400px; top:0px;}
    70%  {background-color:green; left:300px; top:0px;}
    80% {background-color:red; left:200px; top:0px;}
    90%  {background-color:yellow; left:100px; top:0px;}
    100%  {background-color:blue; left:0px; top:0px;}
}
main > section > div:nth-child(4) {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: animacio3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-bottom: 20px;
}

/*AJUSTAR MARGES*/
main > form > select {
    margin-right: 20px;
}
main > form > input {
    margin-right: 20px;
}
main > form > textarea {
    margin-right: 20px;
}

.fipagina {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    border: 1px solid black;
    text-align: center;
}